.materials-body {
    @include adaptiv-value('margin-bottom', 150, 60, 1);
    display: grid;
    grid-template-columns: 320px 1fr;
    @media (max-width: $md2+px) {
        grid-template-columns: 250px 1fr;
    }
    @media (max-width: $md3+px) {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .materials-aside {
        width: 100%;
        height: 100%;
        margin-right: 30px;
        .materials-aside__list {
            display: block;
            .materials-aside__item {
                border-left: 2px solid $darkgray;
                padding-left: 15px;
                &:not(:last-child) {
                    padding-bottom: 15px;
                }
                &.active {
                    border-left: 2px solid $bluecolor;
                }
                a {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 35px;
                    color: $darkgray;
                    transition: 0.15s;
                    &:hover {
                        color: #0093c1;
                    }
                }
            }
        }
    }
    .materials-main {
        .materials-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            @media (max-width: $md5+px) {
                place-items: center;
                grid-template-columns: repeat(1, 1fr);
            }
            .materials-card {
                max-width: 350px;
                height: 100%;
                &:hover {
                    p {
                        color: $bluecolor;
                    }
                }
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 15px;
                    line-height: 150%;
                    color: $darkgray;
                    font-weight: 600;
                    transition: 0.3s;
                }
            }
        }
    }
}
