h2 {
    font-weight: bold;
    @include adaptiv-value('font-size', 32, 24, 1);
    line-height: 120%;
}
h5 {
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    color: #000000;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    padding: 0 15px;
}

.violence-list {
    margin: 20px 0 20px 0;
    .violence-list__item {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 150%;
        color: $maincolor;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &::before {
            content: '';
            display: block;
            background-color: #f28000;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
}

.violence-header {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 20px;
    margin-bottom: 30px;
    h2 {
        text-transform: uppercase;
    }
}
