h2 {
    font-weight: bold;
    @include adaptiv-value('font-size', 32, 24, 1);
    line-height: 120%;
}
h5 {
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    color: #000000;
}

input,
textarea {
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #999191;
    outline: none;
    transition: 0.3s;
    resize: none;
    font-size: 16px;
    &:focus {
        border: 1px solid #000;
    }
    &::placeholder {
        font-size: 14px;
        color: #999191;
    }
}
textarea {
    height: 100px;
}

form button {
    font-family: inherit;
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    padding: 18px 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s;
    &.primary-button {
        background-color: #0093c1;
        &:hover {
            background-color: darken($color: #0093c1, $amount: 7);
        }
    }
    &.secondary-button {
        background-color: #f28000;
        &:hover {
            background-color: darken($color: #f28000, $amount: 5);
        }
    }
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    padding: 0 15px;
}

.violence-list {
    margin: 20px 0 20px 0;
    .violence-list__item {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 150%;
        color: $maincolor;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &::before {
            content: '';
            display: block;
            background-color: #f28000;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
}

.violence-header {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 20px;
    margin-bottom: 30px;
    h2 {
        text-transform: uppercase;
    }
}

.projects-card {
    padding: 30px 20px 20px 20px;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: fit-content;
    @media (max-width: $md3 + px) {
        text-align: center;
        width: 100%;
        padding: 15px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @media (max-width: $md4 + px) {
            display: block;
        }
        .card-header__images {
            img {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        p {
            max-width: 235px;
            display: block;
            text-align: center;
            font-size: 13px;
            line-height: 150%;
            text-align: center;
            color: $maincolor;
            @media (max-width: $md3 + px) {
                margin: 0 auto;
                width: 100%;
                &:first-child {
                    margin-top: 20px;
                }
            }
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__main {
        p {
            font-size: 13px;
            line-height: 150%;
            color: $maincolor;
        }
        .page__card-slider {
            width: 100%;
            max-width: 500px;
            margin: 50px auto;
            @media (max-width: $md4 + px) {
                max-width: 100%;
            }
            @media (max-width: $md4 + px) {
                max-width: 280px;
            }
            .card-slider__body {
                .card-slider__slider {
                    position: relative;
                    .slider-card__body {
                        .slider-card__slide {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                @media (max-width: $md4 + px) {
                                    max-width: 280px;
                                }
                            }
                        }
                    }
                    .slider-card-controls {
                        &__arrows {
                            .slider-arrow {
                                position: absolute;
                                top: 50%;
                                z-index: 3;
                                @media (max-width: $md4+px) {
                                    top: 110%;
                                }
                                &__prev {
                                    left: 20px;
                                    svg {
                                        fill: $maincolor;
                                    }
                                }
                                &__next {
                                    right: 20px;
                                    svg {
                                        fill: $maincolor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.plus {
    span {
        width: 16px;
        height: 3px;
        background-color: #fff;
        display: block;
        opacity: 1;
        transition: transform 0.3s, opacity 0.3s;
        &:last-child {
            transform: rotate(90deg) translateX(-3px);
        }
    }
}
