.violence {
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    &-info__body {
        max-width: 1065px;
    }
    p {
        font-size: 13px;
        line-height: 150%;
        color: $maincolor;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    span {
        color: #f28000;
    }
}

.violence-content {
    margin: 80px 0 10px 0;
    .violence-accordion {
        .accordion-list__item {
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            h5 {
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #023047;
            }
            .accordion-block__dropdown {
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                padding: 10px 0;
                // height: 0;
                transition: 0.3s;
                max-height: 0;
            }
            &.open {
                h5 {
                    color: #ffb703;
                }
                .accordion-block__dropdown {
                    opacity: 1;
                    visibility: visible;
                    overflow: auto;
                    max-height: 100%;
                }
            }
        }
    }
}

.violence-support__body {
    margin-top: 50px;
    .violence-support__table {
        width: 100%;
        border: 1px solid #000000;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 100px;
            font-size: 14px;
            font-weight: bold;
            @media (max-width: $md3+px) {
                padding: 15px 50px;
            }
            @media (max-width: $md5+px) {
                padding: 15px 20px;
                gap: 15px;
            }
            &:nth-child(2n + 1) {
                background-color: rgba(255, 183, 3, 0.9);
                color: #fff;
                span {
                    color: #fff;
                }
            }
            span {
                color: #000;
                font-size: 18px;
            }
        }
        // tr {
        //     td {
        //         text-align: center;
        //         font-size: 20px;
        //         line-height: 150%;
        //         color: #4f4f4f;
        //         padding: 15px 0;
        //         font-weight: bold;
        //         background-color: rgba(254, 254, 254, 0.9);
        //         &:nth-child(1) {
        //             width: 80%;
        //             font-size: 13px;
        //             line-height: 150%;
        //             color: #ffffff;
        //             background-color: rgba(255, 183, 3, 0.9);
        //         }
        //         &:nth-child(2) {
        //             border: 1px solid $maincolor;
        //         }
        //     }
        //     &:nth-child(2n + 0) {
        //         td {
        //             &:nth-child(1) {
        //                 background-color: rgba(254, 254, 254, 0.9);
        //                 color: #4f4f4f;
        //                 border: 1px solid $maincolor;
        //             }
        //             &:nth-child(2) {
        //                 background-color: rgba(255, 183, 3, 0.9);
        //                 color: #ffffff;
        //                 border: none;
        //             }
        //         }
        //     }
        // }
    }
    &:nth-child(2n + 0) {
        .violence-support__table {
            li {
                &:nth-child(2n + 1) {
                    background-color: #023047;
                }
            }
            // tr {
            //     td {
            //         &:nth-child(1) {
            //             background-color: #023047;
            //         }
            //     }
            //     &:nth-child(2n + 0) {
            //         td {
            //             &:nth-child(2) {
            //                 background-color: #023047;
            //             }
            //         }
            //     }
            // }
        }
    }
}

.violence-abuser {
    margin-top: 80px;
}
