.header {
    .header-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
        gap: 15px;
        @media (max-width: 1400px) {
            padding: 0 20px;
        }
        @media (max-width: $md5+px) {
            padding: 20px;
        }
        .header-logo {
            flex: 1;
            img {
                width: 150px;
                height: 120px;
                object-fit: cover;
                @media (max-width: $md5+px) {
                    width: 120px;
                    height: 80px;
                }
            }
        }
        .header-nav {
            @media (max-width: 1300px) {
                position: fixed;
                width: 50%;
                height: 100%;
                background-color: #fff;
                z-index: 5;
                top: 0;
                padding: 0 30px;
                padding-top: 150px;
                right: -50%;
                transition: 0.3s;
                @media (max-width: $md3+px) {
                    width: 80%;
                    right: -80%;
                }
                @media (max-width: $md5+px) {
                    width: 100%;
                    right: -100%;
                }
                &.active {
                    right: 0;
                }
                .nav-list {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    .nav-list__item {
                        a,
                        span {
                            font-size: 24px;
                        }
                        .subnav {
                            position: relative;
                            display: block;
                            opacity: 0;
                            visibility: hidden;
                            height: 0;
                            &.open {
                                opacity: 1;
                                visibility: visible;
                                transition: 0.3s;
                                width: 100%;
                                padding: 20px;
                                box-shadow: none;
                                height: auto;
                                .subnav-item {
                                    &:not(:last-child) {
                                        margin-bottom: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .nav-list {
                display: flex;
                align-items: center;
                .nav-list__item {
                    position: relative;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a,
                    span {
                        font-weight: 600;
                        line-height: 21px;
                        color: $darkgray;
                        cursor: pointer;
                    }
                    &.active {
                        position: relative;
                        a {
                            color: $bluecolor;
                        }
                        &::after {
                            position: relative;
                            bottom: -2px;
                            left: 0;
                            content: '';
                            display: block;
                            height: 1px;
                            width: 100%;
                            background-color: orange;
                            @media (max-width: 1300px) {
                                display: none;
                            }
                        }
                    }
                    .subnav {
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        &.open {
                            opacity: 1;
                            visibility: visible;
                            transition: 0.3s;
                            top: 120%;
                            width: 200px;
                            padding: 20px;
                            background: #ffffff;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            .subnav-item {
                                &:not(:last-child) {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .language {
            position: relative;
            margin-right: 10px;
            &.open {
                .language-dropdown {
                    opacity: 1;
                    visibility: visible;
                }
                svg {
                    transform: rotate(180deg);
                }
            }
            svg {
                transition: 0.3s;
            }
            .current-language {
                cursor: pointer;
                color: $darkgray;
                font-weight: 600;
                line-height: 21px;
                margin-bottom: 5px;
            }
            .language-dropdown {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                a {
                    color: #000;
                    &:not(:last-child) {
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .header-contacts {
            background-color: $orangecolor;
            padding: 5px 15px;
            border-radius: 5px;
            text-align: center;
            @media (max-width: $md4+px) {
                margin-top: 30px;
            }
            .header-contacts__tel {
                font-family: 'Lastria';
                font-size: 20px;
                line-height: 32px;
                color: #ffffff;
                a {
                    color: #ffffff;
                }
            }
            p {
                font-size: 13px;
                line-height: 17px;
                color: #ffffff;
            }
        }
        .burger {
            display: none;
            @media (max-width: 1300px) {
                width: 35px;
                height: 30px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                z-index: 6;
                &.active {
                    span {
                        position: absolute;
                        transform: translateX(-20px);
                        background-color: transparent;
                        &:first-child {
                            transform: rotate(45deg);
                            background-color: #000;
                        }
                        &:last-child {
                            transform: rotate(-45deg);
                            background-color: #000;
                        }
                    }
                }
                span {
                    width: 100%;
                    background-color: #000;
                    height: 4px;
                    border-radius: 5px;
                    display: block;
                    transition: 0.3s;
                }
            }
        }
    }
}
