@font-face {
  font-family: "Lustria";
  font-display: swap;
  src: url("../fonts/Lustria-Regular.woff") format("woff"), url("../fonts/Lustria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.header .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
  gap: 15px;
}

.header .header-body .header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header-body .header-logo img {
  width: 208px;
  height: 174px;
}

.header .header-body .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-body .header-nav .nav-list .nav-list__item:not(:last-child) {
  margin-right: 15px;
}

.header .header-body .header-nav .nav-list .nav-list__item a {
  font-weight: 600;
  font-style: 18px;
  line-height: 21px;
  color: #333333;
}

.header .header-body .header-nav .nav-list .nav-list__item.active {
  position: relative;
}

.header .header-body .header-nav .nav-list .nav-list__item.active a {
  color: #0093c1;
}

.header .header-body .header-nav .nav-list .nav-list__item.active::after {
  position: relative;
  bottom: -2px;
  left: 0;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: orange;
}

.header .header-body .language {
  position: relative;
  margin-right: 10px;
}

.header .header-body .language .currnet-language {
  color: #333333;
  font-weight: 600;
  font-style: 18px;
  line-height: 21px;
}

.header .header-body .language .language-dropdown {
  display: none;
}

.header .header-body .language .language-dropdown a:not(:last-child) {
  padding-bottom: 10px;
}

.header .header-body .language .language-dropdown.open {
  display: block;
}

.header .header-body .header-contacts {
  background-color: #ffb703;
  padding: 5px 15px;
  border-radius: 5px;
}

.header .header-body .header-contacts .header-contacts__tel {
  font-family: 'Lastria';
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
}

.header .header-body .header-contacts .header-contacts__tel a {
  color: #FFFFFF;
}

.header .header-body .header-contacts p {
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
}

.page-title {
  height: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-title h1 {
  font-size: 52px;
  line-height: 150%;
  color: #ffffff;
}

.footer {
  background-color: #0093c1;
  padding: 80px 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer-column h6 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-column.footer-about {
  max-width: 400px;
}

.footer-column.footer-about .footer-about__logo {
  margin-bottom: 30px;
}

.footer-column.footer-about .footer-about__logo a img {
  width: 380px;
  height: 80px;
}

.footer-column.footer-about p {
  color: #fff;
  line-height: 150%;
}

.footer-column.footer-menu .footer-menu__list .footer-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-column.footer-menu .footer-menu__list .footer-menu__item a {
  font-weight: 500;
  color: #fff;
}

.footer-column.footer-contacts {
  max-width: 265px;
}

.footer-column.footer-contacts p {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-column.footer-contacts address {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-column.footer-contacts a {
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}

.footer-column.footer-social {
  width: 105px;
  height: 105px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 40px;
}

.footer-column.footer-social a {
  display: block;
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }

  .footer-column.footer-about {
    max-width: 350px;
  }

  .footer-column.footer-about .footer-about__logo a img {
    max-width: 320px;
    height: 60px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 60px;
  }

  .footer-column.footer-social {
    padding-top: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}